@model ProjectsManager.Application.DTO.EmployeesDto

@{
    ViewData["Title"] = "Удаление информации о сотруднике";
}
<h2 class="text-center pt-5 pb-4">Вы уверены, что хотите удалить запись?</h2>

<div class="container-fluid p-0">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm p-4">
                <dl class="row mb-4">
                    <dt class="col-6">Имя:</dt>
                    <dd class="col-6">@Html.DisplayFor(model => model.Name)</dd>

                    <dt class="col-6">Фамилия:</dt>
                    <dd class="col-6">@Html.DisplayFor(model => model.MiddleName)</dd>

                    <dt class="col-6">Отчество:</dt>
                    <dd class="col-6">@Html.DisplayFor(model => model.LastName)</dd>

                    <dt class="col-6">Email:</dt>
                    <dd class="col-6">@Html.DisplayFor(model => model.Email)</dd>
                </dl>

                <form asp-action="Delete" method="post" class="d-flex justify-content-between">
                    <a class="btn btn-outline-secondary" asp-action="AllEmployees" asp-controller="Employees">Назад</a>
                    <input type="submit" value="Да, удалить" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>